        @charset "UTF - 08";
        
        body{
            background-color: rgb(64, 197, 175);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: rgb(5, 5, 5);
            
        }
        h2 {
            color: darkred;
        }
        
        p {
            text-align: justify;
        }