@charset "UTF-08";

  body{
            background-color: skyblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: center;
        }

        h1 {
            color: rgb(5, 5, 5);
            text-align: center;
            
        }
      
        